@model IEnumerable<MoneySaver.Models.TransactionListModel>

@{
    ViewBag.Title = "Transactions";
}

<h2>Transactions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
            <th>
                    @Html.DisplayNameFor(model => model.TransactionID)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.WalletName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>*@

    @foreach (var item in Model)
    {
        <tr class="TableRow" data-id=@item.TransactionID>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.TransactionID)
            </td>
            <td>
                @if (item.CategoryTypeName == "Income")
                {
                <span style="color:blue;display: block;">@Html.DisplayFor(modelItem => item.CategoryTypeName)</span>
                }
                @if (item.CategoryTypeName == "Expence")
                {
                <span style="color:red;display: block;">@Html.DisplayFor(modelItem => item.CategoryTypeName)</span>
                }
                <span class"control-label col-md-6">@Html.DisplayFor(modelItem => item.WalletName)</span>

            </td>
            <td>
                <span style="display: block;">@Html.DisplayFor(modelItem => item.CategoryNameConcat)</span>
                <span style="display: block;">@Html.DisplayFor(modelItem => item.Comment)</span>      
            </td>
            <td>
                <span style="font-weight: bold;">@Html.DisplayFor(modelItem => item.Value)</span>
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TransactionID })
                </td>*@
        </tr>
    }

</table>
<div id="dialog" title="Contact form">
    <p>appear now</p>
</div>
@section Scripts {

    <script type="text/javascript">
        $(document)
            .ready(function () {
                //$("#dialog").dialog({ autoOpen: false, modal: true, show: "blind", hide: "blind" });

                $(".TableRow").click(function () {
                    var idd = $(this).data("id");
                    //var success = false;
                    $.ajax({
                        url: '@Url.Action("Details", "Transaction")' + '/' + idd,
                        //context: document.body,
                        //async: false,
                        //success: function () {  //THIS ALSO CHANGED
                        //    success = true
                        //}
                        success: function (data) {
                        // your data could be a View or Json or what ever you returned in your action method
                        // parse your data here
                        //alert("");
                            $("#dialog").dialog("open");
                        //return false;
                        }
                    });
                    //if (success) {
                    //    window.open('http://google.com')
                    //}
                }
                );
            });
    </script>
}